body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #333;
    color: white;
    line-height: 100px;
}

#headerWrapper {
    width: 1300px;
    margin: 0 auto;
}

#wrapper {
    width: 1300px;
    margin: 30px auto;
}

#DMXUniverseWrapper {
    width: 958px;
    float: left;
    padding: 10px;
}

#DMXUniverse {
    border: 2px solid gray;
    min-height: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
}

#DMXUniverseList {
    min-height: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#lightsMenuWrapper {
    width: 300px;
    float: right;
    padding: 10px;
}

#lightsMenu {
    border: 2px solid gray;
    background-color: lightgray;
    min-height: 10px;
    max-height: 80%;
    overflow: auto;
}

#lightsMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.light {
    min-height: 60px;
    margin: 10px;
}

.lightMenuItem img {
    padding: 0;
    margin: 5px;
    height: 50px;
    width: 50px;
    float: left;
}

.lightMenuItem p {
    padding: 0;
    margin: 5px;
    width: 186px;
    float: left;
}

.universeItem {

}

.dipCon {
    height: 60px;
    width: auto;
    display: inline-block;
    float: left;
}

.dipContainer {
    height: 40px;
    border: 1px solid gray;
    margin: 10px;
}

.dipSwitchContainer {
    height: 22px;
    width: 22px;
    float: left;
}

.dipSwitch {
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 2px;
    border-radius: 12px;
    border: 1px solid black;
}

.dipSwitchP {
    width: 22px;
    height: 18px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.6em;
}

.dipOn {
    background-color: black;
}

.dopOff {
    background-color: none;
}

.nameCon {
    height: 60px;
    width: 410px;
    display: inline-block;
    float: left;
}

.nameCon p {
    font-size: 1.2em;
    margin: 0px;
    line-height: 60px;
    margin: 0;
}

.deleteCon {
    height: 60px;
    width: auto;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 0px;
}

.deleteCon p {
    font-size: 1.4em;
    margin: 0px;
    padding: 0;
    line-height: 60px;
    margin: 0 10px 0 10px;  
}

.js-remove {
    cursor: pointer;
}

.chDisCon {
    height: 60px;
    width: 80px;
    display: inline-block;
    float: left;
    text-align: center;
}

.chDisNum {
    height: 40px;
    margin: 0px;
    font-size: 1.9em;
}

.chDisName {
    height: 20px;
    margin: 0;
    font-size: 0.8em;
}

.summeryItem {
    margin-left: 10px;
}

.summeryItem p {
    margin: 5px 0 5px 0;
    display: inline-block;
}

.summeryItemoutput {
    font-weight: bold;
}